<div class="edit">
    <form method="POST">    
        <h3>Edit your profile</h4>
            
                {{#rows}}
                
                    <input type="text" id="firstname" name="first" placeholder="Name" value="{{first}}">
                </br>
                    <input type="text" id="surname" name="last" placeholder="Lastname" value="{{last}}" >
                </br>
                    <input type="text" id="surname" name="email" placeholder="Email" value="{{email}}" >
               </br>
                    <input type="text" id="surname" name="password" placeholder="Password" >
               </br>
                    <input type="text" id="age" name="age" placeholder="Age" value="{{age}}" >
               </br>
                    <input type="text" id="city" name="city" placeholder="City" value="{{city}}" >
               </br>
                    <input type="text" id="url" name="url" placeholder="Webpage" value="{{url}}" >
                       <input type="hidden" name="_csrf" value="{{csrfToken}}">

                <div><button name="submit" id="submit">Update</button></div>
                {{/rows}}
    </form>
</div>