
<p>These people have trusted me: <br> ...</p>
{{#rows}}
<div id="allsignersbycity">
 <p>
                    {{#if url}}
                        <a href="{{url}}" >{{first}} {{last}}</a>
                    {{else}}   
                        <a >{{first}} {{last}}</a>
                    {{/if}}
                 
                    {{#if age}}
                        <a>{{age}}</a>
                    {{/if}} 
                     {{#if city}}
                        <a >{{city}}</a>
                    {{/if}} 
                </p> 
</div>
{{/rows}}